@{
    ViewBag.Title = "Donald's Page";
}

<div id="goodluck" class="text-center text-info align-middle">
    Good Luck!!!
</div>


    <script>

        setInterval(function () {
            $('#goodluck').toggleClass("invisible");
        }, 1000);

    </script>
